.button {
  align-items: center;
  cursor: pointer;
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 9999px;
  font-size: 12px;
  display: flex;
  font-weight: 800;
  padding: 8px 24px;
  transition: opasity 0.3s ease;
  user-select: none;
}

.button svg {
  margin-right: 10px;
}
.button:hover {
  opacity: 0.7;
}

.button[disabled] {
  opacity: 0.4;
  pointer-events: none;
}