.container {
    background-color: #fff;
    display: grid;
    height: 100vh;
    place-items: center;
  }

.header {
    border-bottom: 1px solid #eee;
    position: sticky;
    height: 49px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffffaa;
    backdrop-filter: blur(5px);
    
}

.h2 {
    font-size: 21px;
    font-weight: 800;
    padding-left: 15px;
}

.nav {
    background: #fff;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #eee;
    height: 49px;
    width: 100%;
}
